{% extends 'base.hmtl' %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h3>Eficiencia de Trabajador</h3>
    <a class="btn btn-primary" href="{% url 'core:eficiencia_create' %}">Nuevo</a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>RUT</th>
            <th>Nombre</th>
            <th>ID Eficiencia</th>
            <th>Trabajos/mes</th>
            <th>Sueldo promedio</th>
        </tr>
    </thead>
    <body>
        {% for obj in object_list %}
        <tr>
            <td>{{obj.trabajador_rut }}</td>
            <td>{{obj.trabajador_nombre}}</td>
            <td>{{obj.id_eficiencia}}</td>
            <td>{{obj.trabajos_completados_en_1_mes}}</td>
            <td>{{obj.sueldo_promedio_informado}}</td>
        </tr>
    </body>
</table>